if ! [ -d env ]; then
  virtualenv -p python3.2 --no-site-packages --no-pip --distribute env
  virtualenv --relocatable env
  source env/bin/activate
  curl https://bootstrap.pypa.io/get-pip.py | env/bin/python
  deactivate
fi
source env/bin/activate
